@use '../../../vars' as *;
.note-area{
    width: 100%;
    height: 100%;
    background-color: $background-color;
    background-image: radial-gradient($background-color-light 1px, transparent 1px);
    background-size: 20px 20px;
    z-index:10;
}