@use '../../../vars' as *;
.note-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.note{
    width: 200px;
    height: 200px;
    background-color: $background-color;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: all;
    transition: border $transition, box-shadow $transition, background-color $transition;
    &:hover {
        background-color: $background-color-light;
        border-color: $border-color-light;
    }
}

.note-controls{
    width: 100%;
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity $transition, transform $transition;

    button{
        pointer-events: all;
    }

    &.show{
        opacity: 1;
        transform: translateY(0);
    }
}