@use '../_vars.scss' as *;

.app-wrapper{
    width:100%;
    height:calc(100vh - 37px);
    display:flex;
    overflow:hidden;
    flex-direction:row;
    .left {
        width: 50px;
        max-width:250px;
        height:100%;
        z-index:20;
    }
    .right{
        flex:1;
        height:100%;
        z-index:10;
    }
}