@use '../../../vars.scss' as *;

.wrapper{
    width:100%;
    height:37px;
    background-color: $background-color-light;
    color: $text-color;
    -webkit-app-region: drag;
    border-bottom: 1px solid $border-color;
}