$background-color: #141414;
$background-color-light: #1a1a1a;
$background-color-lighter: #1e1e1e;
$background-color-lightest: #292929;
// $primary-color: #3d80b3;
$primary-color: #e0e0e0;
$text-color: #e0e0e0;
$text-color-dimmed: #626262;
$border-color: #2c2c2c;
$border-color-light: #3d3d3d;
$transition: 0.3s ease;
$border-radius: 8px;

$delete-color: #ae3f32;
$delete-border-color: #c0392b;
$delete-color-light: #ff6659;
$delete-border-color-light: #e74c3c;
$delete-background-color: #3d1f1f;
$delete-background-color-light: #5c2424;