$background-color: #141414;
$background-color-light: #1e1e1e;
$background-color-accent: #292929;
// $primary-color: #3d80b3;
$primary-color: #e0e0e0;
$text-color: #e0e0e0;
$text-color-dimmed: #626262;
$border-color: #2c2c2c;
$transition: 0.3s ease;